body{
    background-color:yellow;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
header, footer{
    color:chocolate;
    text-align: center; 
    padding: 0.5rem;
}

nav{
    background-color:orange;
    text-align:center
}
aside{
    background-color:orange;
    text-align:center
}aside{
    background-color:orange;
    text-align:center
}
